{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard - Poll App{% endblock title %}
{% block content %}

<div class="d-flex justify-content-between m-5">
  <div>
    <h1 class="d-inline-block">Your Polls</h1>
  </div>
  <div>
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#pollForm">Create
      Poll</button>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="pollForm" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Title Poll</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" method="POST">
        <div class="modal-body">
          {% csrf_token %}
          {{ form.name.errors }}
          {{ form.name }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="title-btn" data-bs-dismiss="modal">Add Poll</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="row m-5">
  {% for poll in object_list %}
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <img src="{% static '/images/social-polls.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ poll.name }}</h5>
        <p class="card-text">Code: {{ poll.code }}<br>Date: {{ poll.created_at | date:"D d M, o" }}</p>
        <button type="submit" class="btn btn-primary" data-bs-toggle="modal"
          data-bs-target="#modal-share-{{ poll.id }}">Share</button>
        <!-- Modal -->
        <div class="modal fade" id="modal-share-{{ poll.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Copy the link and share with your friends :)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>http://127.0.0.1:8000{% url 'vote' %}?code={{ poll.code }}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{% url 'vote' %}?code={{ poll.code }}" target="_blank" class="btn btn-primary">Open link</a>
              </div>
            </div>
          </div>
        </div>
        <a href="{% url 'poll:edit' poll.id %}" class="btn btn-secondary">Edit</a>
        <a class="btn btn-danger" data-bs-toggle="modal"
          data-bs-target="#modal-delete-{{ poll.id }}">Delete</a>
      </div>
    </div>
  </div>

  <!-- modal para eliminar poll -->
  <div class="modal fade" id="modal-delete-{{ poll.id }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Poll</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="POST" action="{% url 'poll:delete' poll.id %}">
          {% csrf_token %}
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger" id="title-btn" data-bs-dismiss="modal">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
