{% extends 'base.html' %}
{% load static %}
{% block title %}Edit Poll - Poll App{% endblock title %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<div class="container-fluid">
  <div class="m-3">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-secondary">
      <strong>{{ message }}</strong>
    </div>
    {% endfor %}
    {% endif %}
  </div>
  <div class="d-flex justify-content-between m-5">
    <div>
      <h1 class="d-inline-block">{{ object.name }}</h1>
    </div>
    {% if object.status == "draft" %}
    <div>
      <a href="{% url 'question:new' %}?poll_id={{ object.id }}" class="btn btn-primary">New Question</a>
      <a href="{% url 'poll:publish' pk=object.id %}?next={{ request.path | urlencode }}"
        class="btn btn-success">Publish Poll</a>
    </div>
    {% endif %}
  </div>
  <div class="px-4">
    {% for question in object.question_set.all %}
    <div class="card mb-4">
      <div class="card-header">
        Question #{{ forloop.counter }}
      </div>
      <div class="card-body row">
        <div class="col">
          <h5 class="card-title">{{ question.question }}</h5>
          <p class="card-text">
          <ul>
            {% for answer in question.answer_set.all %}
            <li>{{ answer.answer }}</li>
            {% endfor %}
          </ul>
          {% if object.status == "draft" %}
          <a href="{% url 'question:edit' question.id %}" class="btn btn-secondary">Edit</a>
          <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-delete-{{ question.id }}">Remove</a>
          {% endif %}
        </div>
        <div class="chartBox" style="width: 200px;">
          <canvas id="myChart{{question.id}}"></canvas>
        </div>
        </p>

        <!-- modal para eliminar poll -->
        <div class="modal fade" id="modal-delete-{{ question.id }}" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Delete Question</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form method="POST" action="{% url 'question:delete' question.id %}">
                {% csrf_token %}
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-danger" id="title-btn" data-bs-dismiss="modal">Delete</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% empty %}
    <div class="m-5">
      <h5>You don't have questions :(</h5>
    </div>
    {% endfor %}
  </div>
</div>
<script>
  {% for question in object.question_set.all %}
  const ctx{{question.id}} = document.getElementById('myChart{{ question.id }}').getContext('2d');
  const chart{{question.id}} = new Chart(ctx{{question.id}}, {
    type: 'doughnut',
    data: {
      labels: [
        {% for answer in question.answer_set.all %}
          '{{ answer.answer }}',
          {% endfor %}
          ],
    datasets: [
    {
      label: 'Points',
      backgroundColor: ['#f1c40f', '#e67e22', '#16a085', '#2980b9'],
      data: [
        {% for answer in question.answer_set.all %}
                {{answer.votes}},
    {% endfor %}
  ]
        }
      ]
    },
  });

  {% endfor %}
</script>
{% endblock content %}
