{% extends 'base.html' %}
{% block title %}Edit Poll - Poll App{% endblock title %}
{% block content %}
<div class="container-fluid">
  <div class="d-flex justify-content-between m-5">
    <div>
      <h1 class="d-inline-block">{{ object.name }}</h1>
    </div>
    {% if object.status == "draft" %}
    <div>
      <a href="{% url 'question:new' %}" class="btn btn-primary">New Question</a>
      <a href="{% url 'poll:publish' pk=object.id %}?next={{ request.path | urlencode }}"
        class="btn btn-success">Publish Poll</a>
    </div>
    {% endif %}
  </div>
  <div class="px-4">
    {% for question in object.question_set.all %}
    <div class="card mb-4">
      <div class="card-header">
        Question #{{ forloop.counter }}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ question.question }}</h5>
        <p class="card-text">
        <ul>
          {% for answer in question.answer_set.all %}
          <li>{{ answer.answer }}</li>
          {% endfor %}
        </ul>
        </p>
        {% if object.status == "draft" %}
        <a href="{% url 'question:edit' question.id %}" class="btn btn-secondary">Edit</a>
        <a class="btn btn-danger" data-bs-toggle="modal"
          data-bs-target="#modal-delete-{{ question.id }}">Remove</a>
        {% endif %}

        <!-- modal para eliminar poll -->
        <div class="modal fade" id="modal-delete-{{ question.id }}" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Delete Question</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form method="POST" action="{% url 'question:delete' question.id %}">
                {% csrf_token %}
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-danger" id="title-btn" data-bs-dismiss="modal">Delete</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
